name: schedule

on:
  workflow_dispatch:

# permissions:
#   contents: write
#   pages: write
#   id-token: write

jobs:
  prepare:
    name: prepare
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    outputs:
      skip_build: ${{ steps.generate-outputs.skip_run }}
      yt_dlp_ref: ${{ steps.generate-outputs.yt_dlp_ref }}
      yt_dlp_version: ${{ steps.generate-outputs.yt_dlp_version }}

    steps:
      - name: Generate Outputs
        id: generate-outputs
        run: |
          set -xeu
          echo "yt_dlp_version=$(date +"%Y.%m.%d")" >> $GITHUB_OUTPUT
          echo "yt_dlp_ref=8636a9bac3bed99984c1e297453660468ecf504b" >> $GITHUB_OUTPUT
          echo "skip_build=false" >> $GITHUB_OUTPUT

  build:
    needs: prepare
    if: needs.prepare.outputs.skip_build != 'true'
    # uses: 3dyd/yt-dlp-builds/.github/workflows/build.yml@master
    uses: 3dyd/test-yt/.github/workflows/build.yml@master
    with:
      yt_dlp_ref: ${{ needs.prepare.outputs.yt_dlp_ref }}
      yt_dlp_version: ${{ needs.prepare.outputs.yt_dlp_version }}
      current_update_channel: nightly
      other_update_channels_spec: "'stable': '3dyd/yt-dlp-builds'"
      pyi_rebuild: false
    permissions:
      contents: write
      pages: write
      id-token: write
    secrets: inherit
